In [1]:
import pandas as pd
pd.set_option("display.max_rows", 500)

In [2]:
import numpy as np

In [3]:
heroes = "Resources/purchase_data.csv"
purchase_data = pd.read_csv(heroes)

In [4]:
heroes_df = pd.read_csv(heroes)
heroes_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [5]:
heroes_df = heroes_df.rename(columns={'Purchase ID': 'PID', 'Item ID': 'Item', 'Item Name': 'Name'})
heroes_df.head()

,PID,SN,Age,Gender,Item,Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [6]:
Players = heroes_df.SN.nunique() #count of unique columns
#heroes_df.rename['SN'] = Players
#print (Players)
Player_Summary_df = pd.DataFrame({'Player Count': [Players]})
Player_Summary_df

   Player Count
0           576

In [7]:
Item_Count = heroes_df.Item.nunique()
#print(Item_Count)
Purchase_ID = heroes_df.PID.nunique()
#Purchase_ID
average_price = heroes_df['Price'].mean()
#average_price_df = average_price_df.map('${:,.2f}'.format)
#print(average_price)
Total_Revenue = heroes_df['Price'].sum()
#print(Total_Revenue)

In [8]:
Purchasing_Analysis_df = pd.DataFrame({'Number of Unique Items': [Item_Count], 
                                       'Average Price': [average_price], 
                                       'Number of Purchases': [Purchase_ID], 
                                     'Total Revenue': [Total_Revenue] })
Purchasing_Analysis_df

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     179       3.050987                  780        2379.77

In [9]:
heroes_df.SN.value_counts() #counting the Screen Names

Lisosia93      5
Idastidru52    4
Iral74         4
Chamimla85     3
Rarallo90      3
              ..
Eyircil84      1
Aelidru27      1
Tyialisti80    1
Yana46         1
Ithergue48     1
Name: SN, Length: 576, dtype: int64

In [10]:
#heroes_df.index

In [11]:
heroes_df.Gender.nunique()

3

In [12]:
g_count = heroes_df.groupby('Gender')
print(g_count['SN'].count())

Gender
Female                   113
Male                     652
Other / Non-Disclosed     15
Name: SN, dtype: int64

In [31]:
g_count = heroes_df.groupby('Gender')
#print(g_count['SN'].count())
genderage_df = heroes_df[['SN', 'Gender', 'Age']].drop_duplicates()
print(genderage_df)

gender_count_df = heroes_df[ ['SN', 'Gender'] ].drop_duplicates()
gender_gp = gender_count_df.groupby('Gender')
gender_count_df = gender_count_df.reset_index()
gender_gp_df = gender_gp.count()
gender_gp_df
#heroes_df = heroes_df.rename(columns={'Purchase ID': 'PID', 'Item ID': 'Item', 'Item Name': 'Name'})
gen_per_df = (gender_gp.count()/Players)*100

print(gender_gp_df)
gen_per_df
#Gen_Analysis_df = pd.DataFrame({'Total Count': [gender_gp_df],
                                #'Percentage of Players': [gen_per]})
#format_dict = {'Percentage of Players': '{:.2%}'}
#Gen_Analysis_df

                SN  Gender  Age
0          Lisim78    Male   20
1      Lisovynya38    Male   40
2       Ithergue48    Male   24
3    Chamassasya86    Male   24
4        Iskosia90    Male   23
..             ...     ...  ...
773         Hala31    Male   21
774     Jiskjask80    Male   11
775     Aethedru70  Female   21
777     Yathecal72    Male   20
778        Sisur91    Male    7

[576 rows x 3 columns]
                        SN
Gender
Female                  81
Male                   484
Other / Non-Disclosed   11

                              SN
Gender
Female                 14.062500
Male                   84.027778
Other / Non-Disclosed   1.909722

In [14]:
gender_gp_df

                        SN
Gender
Female                  81
Male                   484
Other / Non-Disclosed   11

In [15]:
gender_count_df.head()

   index             SN Gender
0      0        Lisim78   Male
1      1    Lisovynya38   Male
2      2     Ithergue48   Male
3      3  Chamassasya86   Male
4      4      Iskosia90   Male

In [16]:
#heroes_df.loc[heroes_df.SN == "Lisosia93"]
# to find direct info on a player

In [17]:
gcount = heroes_df['Gender'].value_counts()
print(gcount)

Male                     652
Female                   113
Other / Non-Disclosed     15
Name: Gender, dtype: int64

In [18]:
#gcount = heroes_df.loc[heroes_df.Gender == 'Male'].sum
#print(gcount)
#count = heroes_df['Gender'].value_counts()/Players*100
#count

In [19]:
#gender_group = heroes_df.groupby('Gender')
#gender_purchase_df = pd.DataFrame(gender_group['Price'].value_counts())
#gender_purchase_df.append = pd.DataFrame(gender_group['Item'].value_counts())
#gender_purchase_df.head
gender_group_df = heroes_df.groupby(['Gender'])['Price'].sum()
print(gender_group_df)
#).style.format('${0:,.2f}')

Gender
Female                    361.94
Male                     1967.64
Other / Non-Disclosed      50.19
Name: Price, dtype: float64

In [20]:
gcount = heroes_df['Gender'].value_counts()
gender_group_df = heroes_df.groupby(['Gender'])['Price'].sum()
gender_group_df/gcount
gender_gravg = heroes_df.groupby(['Gender'])['Price'].mean()
avt_df = (gender_group_df.groupby('Gender'))
#print(avt_df)
avg_per_df = (gender_group_df/gender_gp_df.SN)
#print(avg_per_df)
Purchase_Gen_Analysis_df = pd.DataFrame.from_dict({'Gender': gcount,
                                     'Average Purchase Price': gender_gravg,
                                     'Total Purchase Value': gender_group_df,
                                                  'Avg Total': avg_per_df}, orient = 'index').transpose()
Purchase_Gen_Analysis_df

,Gender,Average Purchase Price,Total Purchase Value,Avg Total
Male,652.0,3.017853,1967.64,4.065372
Female,113.0,3.203009,361.94,4.468395
Other / Non-Disclosed,15.0,3.346000,50.19,4.562727

In [21]:
gender_group_df/gcount

Female                   3.203009
Male                     3.017853
Other / Non-Disclosed    3.346000
dtype: float64

In [22]:
gender_gravg = heroes_df.groupby(['Gender'])['Price'].mean()
gender_gravg
#average purchase

Gender
Female                   3.203009
Male                     3.017853
Other / Non-Disclosed    3.346000
Name: Price, dtype: float64

In [23]:
avt_df = (gender_group_df.groupby('Gender'))
print(avt_df)
avg_per_df = (gender_group_df/gender_gp_df.SN)
print(avg_per_df)

<pandas.core.groupby.generic.SeriesGroupBy object at 0x0000015F6B8DF908>
Gender
Female                   4.468395
Male                     4.065372
Other / Non-Disclosed    4.562727
dtype: float64

In [24]:
Purchase_Gen_Analysis_df = pd.DataFrame.from_dict({'Gender': gcount,
                                     'Average Purchase Price': gender_gravg,
                                     'Total Purchase Value': gender_group_df,
                                                  'Avg Total': avg_per_df}, orient = 'index').transpose()
Purchase_Gen_Analysis_df

,Gender,Average Purchase Price,Total Purchase Value,Avg Total
Male,652.0,3.017853,1967.64,4.065372
Female,113.0,3.203009,361.94,4.468395
Other / Non-Disclosed,15.0,3.346000,50.19,4.562727

In [25]:
#Purchase_Gen_Analysis_df = Purchase_Gen_Analysis_df.reset_index()
#Purchase_Gen_Analysis_df

In [26]:
#gcount_df = pd.DataFrame.heroes_df.SN
#pd.DataFrame(heroes_df.Gender.value_counts())
#heroes_df.drop_duplicates('SN', keep=False)
#heroes_df.iloc.rename('Total Players').to_frame()
#curious about the types of gender and trying to figure out how it plays into the data gathering

In [27]:
#demographics

In [28]:
age_buy_df = (heroes_df.groupby('Age')['PID'].count())

#print(age_buy_df)

In [29]:
age_buy_df = (heroes_df.groupby('Age')['PID'].count())
heroes_df['bins'] = pd.cut(heroes_df['Age'], [0, 9.9, 14, 19, 24, 29, 34, 39, 100], labels=group_name, include_lowest=True)
agedd_df = heroes_df.groupby(bins)['Age'].agg(['count'])
agedd_df
#heroes_df

NameError: name 'group_name' is not defined

In [ ]:
group_name = ["<10","10-14","15-19","20-24","25-29","30-34","35-39","40+"]
#bins = pd.cut(heroes_df['Age'], group_name)
bins = pd.cut(heroes_df['Age'], [0, 9.9, 14, 19, 24, 29, 34, 39, 100], labels=group_name, include_lowest=True)
aged_df = heroes_df.groupby(bins)['Age'].agg(['count']).drop_duplicates()
aged_df['Percent of Players'] = heroes_df.bins.value_counts(normalize=True)*100
#df.groupby(pd.cut(df["B"], np.arange(0, 1.0+0.155, 0.155))).sum()
#aged_df = pd.cut(heroes_df['Age'],bins, labels=group_name, include_lowest=True)
aged_df

In [ ]:
agerange = aged_df.copy()
agerange['Age Range'] = heroes_df.groupby(['bins'])['Price'].mean()
#agerange = pd.DataFrame({"Purchase Count": (heroes_df["Price"].count()), 
                           #"Average Purchase Price": (heroes_df["Price"].mean()),
                          # "Total Purchase Value":(heroes_df["Price"].sum())}, index=[0])
agerange

In [ ]:
age_demo_df = heroes_df.groupby('Age')
age_demo_df.max()

In [ ]:
heroes_df.info()
#what kinds of info it is

In [ ]:
#Gender_df = pd.DataFrame({"Unique Genders": Male = "Male", Female = "Female", Other = "Other" index = [0]})

In [ ]:
heroes_df.head()

In [ ]:
#Run basic calculations to obtain the results in the table below
#Create a summary data frame to hold the results
#Sort the total purchase value column in descending order
#Optional: give the displayed data cleaner formatting
#Display a preview of the summary data frame

In [ ]:
pd.DataFrame(heroes_df.SN.value_counts()) 
sn = heroes_df.groupby(['SN'])
#sn = heroes_df.groupby(['SN']['Name'])['Price'].agg(['count', 'sum'])
Purchase_Count_df = pd.DataFrame(sn['SN'].count())
Purchase_Count_df.columns = ['Total Purchase Count']
sort_by_df = Purchase_Count_df.sort_values('Total Purchase Count',ascending=False)
sort_by_df


#curious out how many purchases each person made because the amount of purchases
#isn't singular. Some screen names have purchased multiple times

In [ ]:
spenders_df = heroes_df.groupby(['SN'])['Price'].agg(['count', 'sum'])
spenders_df

In [ ]:
#Retrieve the Item ID, Item Name, and Item Price columns
#Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value
#Create a summary data frame to hold the results
#Sort the purchase count column in descending order
#Optional: give the displayed data cleaner formatting
#Display a preview of the summary data frame

In [ ]:
#popularr_df = heroes_df.groupby(['Name', 'Item', 'Price'])
#opularr_df

In [ ]:
popular_df = heroes_df.groupby(['Name', 'Item', 'Price'])['Price'].agg(['count', 'sum'])
popular_df.head()

In [ ]:
popular_df = heroes_df.groupby(['Name', 'Item', 'Price'])['Price'].agg(['count', 'sum'])
popular_df.head()
sort_by_df = popular_df.sort_values('count',ascending=False)
sort_by_df.head()

In [ ]:
#popular_df['Purhcase Count'] = popular_df.groupby(['Item']).transform('sum')
#popular_df

In [ ]:
#popular_df['Purchase Count'] = popular_df.groupby(['Item', 'Name']).transform('sum')
#popularr_df = heroes_df.groupby(['Item', 'Name'])['Price'].transform('sum')

#df['Total'] = df.groupby(['Fullname', 'Zip'])['Amount'].transform('sum')

#popularr_df.head()

In [ ]:
sort_by_purchase_amount = popular_df.sort_values('sum',ascending=False)
sort_by_purchase_amount.sort_values(by=['Name']).head(5)
sort_by_purchase_amount.head()