### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [2]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
heroes = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(heroes)
heroes_df = pd.read_csv(heroes)

## Player Count

* Display the total number of players

In [3]:
heroes_df = heroes_df.rename(columns={'Purchase ID': 'PID', 'Item ID': 'Item', 'Item Name': 'Name'})
#heroes_df.head()
Players = heroes_df.SN.nunique() #count of unique columns
#heroes_df.rename['SN'] = Players
#print (Players)
Player_Summary_df = pd.DataFrame({'Player Count': [Players]})
Player_Summary_df

   Player Count
0           576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [4]:
#finding the number of items with a unique call, then adding it all together.
Item_Count = heroes_df.Item.nunique()
#print(Item_Count)
Purchase_ID = heroes_df.PID.nunique()
#Purchase_ID
average_price = heroes_df['Price'].mean()
#average_price_df = average_price_df.map('${:,.2f}'.format)
#print(average_price)
Total_Revenue = heroes_df['Price'].sum()
#print(Total_Revenue)
Purchasing_Analysis_df = pd.DataFrame({'Number of Unique Items': [Item_Count], 
                                       'Average Price': [average_price], 
                                       'Number of Purchases': [Purchase_ID], 
                                     'Total Revenue': [Total_Revenue] })
Purchasing_Analysis_df

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     179       3.050987                  780        2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [5]:
#Used the drop duplicates to narrow the results. However, it causes me problems down the line when I try and merge the two 
#different codes together. 
g_count = heroes_df.groupby('Gender')
#print(g_count['SN'].count())

gender_count_df = heroes_df[ ['SN', 'Gender'] ].drop_duplicates()
gender_gp = gender_count_df.groupby('Gender')
gender_count_df = gender_count_df.reset_index()
gender_gp_df = gender_gp.count()
gender_gp_df
#heroes_df = heroes_df.rename(columns={'Purchase ID': 'PID', 'Item ID': 'Item', 'Item Name': 'Name'})
gen_per_df = (gender_gp.count()/Players)*100

print(gender_gp_df)
gen_per_df

                        SN
Gender
Female                  81
Male                   484
Other / Non-Disclosed   11

                              SN
Gender
Female                 14.062500
Male                   84.027778
Other / Non-Disclosed   1.909722


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [6]:
#using basic math to pull the average and sum. Putting it all together with the pd.DataFrame is satisfying.
gcount = heroes_df['Gender'].value_counts()
gender_group_df = heroes_df.groupby(['Gender'])['Price'].sum()
gender_group_df/gcount
gender_gravg = heroes_df.groupby(['Gender'])['Price'].mean()
avt_df = (gender_group_df.groupby('Gender'))
#print(avt_df)
avg_per_df = (gender_group_df/gender_gp_df.SN)
#print(avg_per_df)
Purchase_Gen_Analysis_df = pd.DataFrame.from_dict({'Gender': gcount,
                                     'Average Purchase Price': gender_gravg,
                                     'Total Purchase Value': gender_group_df,
                                                  'Avg Total': avg_per_df}, orient = 'index').transpose()
Purchase_Gen_Analysis_df

,Gender,Average Purchase Price,Total Purchase Value,Avg Total
Male,652.0,3.017853,1967.64,4.065372
Female,113.0,3.203009,361.94,4.468395
Other / Non-Disclosed,15.0,3.346000,50.19,4.562727

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [7]:
#When pulling this together, I believe it is pulling all the information, instead of using the amended gender that dropped
#the duplicates. Because of the way it was written, it kept throwing my code around when I inserted it into the bins.
age_buy_df = (heroes_df.groupby('Age')['PID'].count())
group_name = ["<10","10-14","15-19","20-24","25-29","30-34","35-39","40+"]
bins = pd.cut(heroes_df['Age'], [0, 9.9, 14, 19, 24, 29, 34, 39, 100], labels=group_name, include_lowest=True)
heroes_df['bins'] = pd.cut(heroes_df['Age'], [0, 9.9, 14, 19, 24, 29, 34, 39, 100], labels=group_name, include_lowest=True)
agedd_df = heroes_df.groupby(bins)['Age'].agg(['count'])
#agedd_df
group_name = ["<10","10-14","15-19","20-24","25-29","30-34","35-39","40+"]
#bins = pd.cut(heroes_df['Age'], group_name)
bins = pd.cut(heroes_df['Age'], [0, 9.9, 14, 19, 24, 29, 34, 39, 100], labels=group_name, include_lowest=True)
aged_df = heroes_df.groupby(bins)['Age'].agg(['count']).drop_duplicates()
aged_df['Percent of Players'] = heroes_df.bins.value_counts(normalize=True)*100

aged_df

       count  Percent of Players
Age
<10       23            2.948718
10-14     28            3.589744
15-19    136           17.435897
20-24    365           46.794872
25-29    101           12.948718
30-34     73            9.358974
35-39     41            5.256410
40+       13            1.666667

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [11]:
agerange = aged_df.copy()
agerange['Age Range'] = heroes_df.groupby(['bins'])['Price'].mean()
#agerange = pd.DataFrame({"Purchase Count": (heroes_df["Price"].count()), 
                           #"Average Purchase Price": (heroes_df["Price"].mean()),
                          # "Total Purchase Value":(heroes_df["Price"].sum())}, index=[0])
agerange

       count  Percent of Players  Age Range
Age
<10       23            2.948718   3.353478
10-14     28            3.589744   2.956429
15-19    136           17.435897   3.035956
20-24    365           46.794872   3.052219
25-29    101           12.948718   2.900990
30-34     73            9.358974   2.931507
35-39     41            5.256410   3.601707
40+       13            1.666667   2.941538

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [16]:
pd.DataFrame(heroes_df.SN.value_counts()) 
sn = heroes_df.groupby(['SN'])
Purchase_Count_df = pd.DataFrame(sn['SN'].count())
Purchase_Count_df.columns = ['Total Purchase Count']
sort_by_df = Purchase_Count_df.sort_values('Total Purchase Count',ascending=False)
sort_by_df.head()

             Total Purchase Count
SN
Lisosia93                       5
Iral74                          4
Idastidru52                     4
Asur53                          3
Inguron55                       3

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [12]:
#I know the column heads should be different, but the agg button was the easiest way to put this all together.
popular_df = heroes_df.groupby(['Name', 'Item', 'Price'])['Price'].agg(['count', 'sum'])
popular_df.head()
sort_by_df = popular_df.sort_values('count',ascending=False)
sort_by_df.head()

                                                         count    sum
Name                                         Item Price
Oathbreaker, Last Hope of the Breaking Storm 178  4.23      12  50.76
Extraction, Quickblade Of Trembling Hands    108  3.53       9  31.77
Nirvana                                      82   4.90       9  44.10
Fiery Glass Crusader                         145  4.58       9  41.22
Pursuit, Cudgel of Necromancy                19   1.02       8   8.16

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [13]:
sort_by_purchase_amount = popular_df.sort_values('sum',ascending=False)
sort_by_purchase_amount.sort_values(by=['Name']).head(5)
sort_by_purchase_amount.head()

                                                         count    sum
Name                                         Item Price
Oathbreaker, Last Hope of the Breaking Storm 178  4.23      12  50.76
Nirvana                                      82   4.90       9  44.10
Fiery Glass Crusader                         145  4.58       9  41.22
Final Critic                                 92   4.88       8  39.04
Singed Scalpel                               103  4.35       8  34.80